.square {
    width: 40px;
    height: 40px;
    background: #fff;
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    border-width: medium;
}

.tile-1 {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
}

.tile-2 {
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.tile-3 {
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
}

.tile-4 {
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;
}

.tile-5 {
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
}

.tile-6 {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;
}

.tile-7 {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
}

.tile-8 {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
}

.tile-9 {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
}

.tile-10 {
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
}

.tile-11 {
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
}

.tile-12 {
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
}

.tile-13 {
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

.tile-14 {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
}

.tile-15 {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}